FLASK_ENV=development
SECRET_KEY=replace-me
JWT_SECRET_KEY=replace-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES_HOURS=1

DATABASE_USER=your_supabase_pooler_user
DATABASE_PASSWORD=your_supabase_pooler_password
